body {
    background-color: black;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: black;
    height: 10%;
}

footer {
    width: 100%;
    background-color: #fff;
    height: 95%;
    border: 1px solid black;
}

.flexbox-container {
    display: flex;
}

main {
    width: 100%;
    height: 15%;
    background-color: #fff;
    border: 1px solid black;
}


.ma {
    text-align: right;

}

button2 {
    display: inline-block;
    /* ボタンを横並びにする */
    border: none;
    /* 枠線をなくす */
    border-radius: 1px;
    /* 角丸をつける */
    padding: 5px 15px;
    /* ボタンの内側の余白 */
    margin: 5px;
    /* ボタン同士の余白 */
    background-color: black;
    /* ボタンの背景色 */
    color: #fff;
    /* ボタンの文字色 */
    text-align: center;
    /* ボタンのテキストを中央揃えにする */
    text-decoration: none;
    /* テキストに下線をつけない */
    font-size: 15px;
    /* テキストのフォントサイズ */
    cursor: pointer;
    /* マウスポインタを変更する */
}

button3 {
    display: inline-block;
    /* ボタンを横並びにする */
    border: none;
    /* 枠線をなくす */
    border-radius: 1px;
    /* 角丸をつける */
    padding: 5px 15px;
    /* ボタンの内側の余白 */
    margin: 5px;
    /* ボタン同士の余白 */
    background-color: black;
    /* ボタンの背景色 */
    color: #fff;
    /* ボタンの文字色 */
    text-align: center;
    /* ボタンのテキストを中央揃えにする */
    text-decoration: none;
    /* テキストに下線をつけない */
    font-size: 15px;
    /* テキストのフォントサイズ */
    cursor: pointer;
    /* マウスポインタを変更する */
}

button4 {
    display: inline-block;
    /* ボタンを横並びにする */
    border: none;
    /* 枠線をなくす */
    border-radius: 1px;
    /* 角丸をつける */
    padding: 3px 15px;
    /* ボタンの内側の余白 */
    margin: 5px;
    /* ボタン同士の余白 */
    background-color: #fff;
    /* ボタンの背景色 */
    color: black;
    /* ボタンの文字色 */
    text-align: center;
    /* ボタンのテキストを中央揃えにする */
    text-decoration: none;
    /* テキストに下線をつけない */
    font-size: 15px;
    /* テキストのフォントサイズ */
    cursor: pointer;
    /* マウスポインタを変更する */
}