body {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: black;
    height: 50px;
}


.flexbox-container {
    display: flex;
}

main {
    width: 50%;
    margin: auto;
    height: 1000px;
    padding: 0% 5%;
}

aside {
    width: 50%;
    min-width: 20%;
    margin: auto;
    height: 1000px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: black;

}

.kennsaku {
    border: none;
    display: inline-block;
    border-radius: 1px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 110px 5px 50px;
}

.a2 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 5px 15px;
    margin: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.a3 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 5px 15px;
    margin: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.a4 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 5px;
    background-color: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.ma1 {
    margin: 30px;
}

.ma2 {
    margin: 50px;
}

.ma3 {
    margin: 50px;
}

.img1 {
    background-color: dimgray;
    height: 450px;
    width: 450px;
    margin: 60px 0px 0px 150px;
}

.button1 {
    border: 2px solid red;
    border-radius: 5px;
    padding: 0% 23%;
    margin: 20px 0px 0px 0px;
    background-color: #f31010;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.button2 {
    border: 2px solid red;
    border-radius: 5px;
    padding: 0% 23%;
    margin: 20px 0px 100px 0px;
    background-color: #f31010;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.img2 {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: gray;
}

.item1 {
    display: inline-block;
}


.like-container {
    display: flex;
    flex-direction: column;
}

.like-button {
    background-color: #fff;
    color: black;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}

.like-button:hover {
    transform: scale(1.1);
    background-color: #fff;
}

.hoshi {
    animation: bounce 0.5s ease infinite;
}

.hukidashi {
    animation: bounce 0.5s ease infinite;
}

.like-count {
    margin-top: 20px;
    color: #333;
}

@keyframes countAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.count-animation {
    animation: countAnimation 0.3s ease-out;
}