body {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: black;
    height: 50px;
}

footer {
    width: 100%;
    height: 460px;
}

.flexbox-container {
    display: flex;
}

main {
    width: 100%;
    margin: auto;
    height: 75px;
    padding: 0% 10%;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: black;

}

.kennsaku {
    border: none;
    display: inline-block;
    border-radius: 1px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 110px 5px 50px;
}

.a2 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 5px 15px;
    margin: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.a3 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 5px 15px;
    margin: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.a4 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 5px;
    background-color: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.a6 {

    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 10px;
    background-color: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.a5 {

    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 10px;
    background-color: #fff;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.a56 {
    vertical-align: text-bottom;
    line-height: 8em;
}

.ma1 {
    margin: 30px;
}

.ma2 {
    margin: 50px;
}

.ma3 {
    margin: 50px;
}

.flexbox-container {
    margin: 20px;
    height: 85px;
    width: 100%;
    border-bottom: 3px solid #333;
}

.item {
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: darkgrey;
    margin: 10px;
}

.item1 {
    height: 400px;
    width: 400px;
    margin: 8px;
}

.item2 {
    height: 400px;
    width: 400px;
    margin: 8px;
}

.item3 {
    height: 400px;
    width: 400px;
    margin: 8px;
}

.p1 {
    text-align: left;
}

.p2 {
    text-align: left;
}

.p3 {
    text-align: left;
}

.b1 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 10px;
    background-color: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.b2 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 10px;
    background-color: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.b3 {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 3px 15px;
    margin: 10px;
    background-color: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}